:root {
    --dark-blue: #274caf;
    --yellow: #ffdd84;
    --dark-dark-blue: #06217b;
    --light-blue: #bad4ff;
    --hover-color: #D3D3D3;


    --title-size: 3.25rem;
    --header-size: 2.5rem;
    --text-size: 1.25rem;
}

